<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tie</title>
</head>
<body>
    <h1>Files</h1>
    <a href="{{ url_for('upload') }}">Upload File</a>
    <table>
        <tr>
            <th>Filename</th>
            <th>Author</th>
            <th>Date</th>
            <th>DownloadButton</th>
        </tr>
        {% for file in files %}
            <row>
                <td>{{ file.name }}</td>
                <td>{{ file["author"] }}</td>
                <td>{{ file["date"] }}</td>
                <td>
                    <button>Download</button>
                </td>
            </row>
        {% endfor %}
    </table>
</body>
</html>