<html>
<head>
<title>firewall-liste</title>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div id="ueberschrift">Firewall-Liste</div>
    <div id="links">
    
        <a href="{{ url_for('upload') }}" class="navel">Upload</a>
        <a href="{{ url_for('index') }}" class="navel">Liste</a>
    </div>
    
    <div class="container"> 
      <ul class="responsive-table">
        <li class="table-header">
          <div class="col col-1">File-Name</div>
          <div class="col col-2">File-Type</div>
          <div class="col col-3">Uploader</div>
          <div class="col col-4">Datum</div>
          <div class="col col-5">Download</div>
          <div class="col col-6"></div>
        </li>
          
          {% for file in files %}
        <li class="table-row">
          <div class="col col-1" data-label="Job Id"> {{ file["name"] }} </div>
          <div class="col col-2" data-label="Customer Name">{{ file["ending"] }}</div>
          <div class="col col-3" data-label="Amount"> {{ file["author"] }} </div>
          <div class="col col-4" data-label="Payment Status">{{ file["date"] }}</div>
            <div class="col col-5">
                <a href="{{ url_for('download_file', name=file['full_name']) }}">Download</a>
            </div>
            <div class="col col-6">
                <a href="{{ url_for('delete_file', name=file['full_name']) }}">
                    <i class="fa fa-trash-o" style="font-size:24px;color:red"></i>
                </a>
            </div>
        </li>
          {% endfor %}
          
          
      </ul>
        
        
    </div>
    

<hr>
</body>
</html>