{% extends 'layout.html' %} {% block body %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='index_style.css') }}">

<div class="jumbotron">
  <h1 class="display-4">Excel Reports zusammenführen</h1>
  <p class="lead">Excel Dateien hochladen.</p>

  <hr class="my-4" />
    <div class="d-none" id="loading">
      <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
      </div>
    </div>
  <div class="upload_start">
    <form
      method="post"
      enctype=multipart/form-data
      action="{{ url_for('upload') }}"
      class="dropzone bigone"
    >
      <ul id="fileList">
        <li>
          <input type=file name="file" />
        </li>
      </ul>
      <p>
        <a onclick="onPlus()">
          <span class="glyphicon glyphicon-plus">Add</span>
        </a>
      </p>
      <input type="submit" value="Hochladen" onclick="showSpinner()" />
    </form>
  </div>
</div>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>-->

<script>
  function onPlus() {
    var listLen = $("#fileList li").length;
    $("#fileList").append('<li><input type="file" name="file' + listLen + '"></li>');
  }

  function showSpinner() {
    $("#loading").removeClass("d-none")
    $("#upload_start").addClass("blurDiv")
  }

  $(
    function() {
      $("#loading").addClass("d-none")
      $("#upload_start").removeClass("blurDiv")
    }
  )

</script>
{% endblock %}
